* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Rajdhani', Arial, sans-serif;
    font-weight: 500;
}

/* ////////////// WELCOME //////////// WELCOME /////////// WELCOME ////////////// */
.welcome-pages-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome,
.registration-side {
    padding: 2%;
    width: 50%;
    height: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .welcome-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#welcome-title {
    font-size: 4.5vw;
    letter-spacing: 2px;
}

.welcome-container img {
    width: 90%;
}

.network-title-container {
    text-align: center;
}

#bubc-title {
    font-size: 3.5vw;
    background-color: black;
    letter-spacing: 2px;
    color: white;
    padding: 0 10px;
    white-space: nowrap;
}

.welcome-container h2 {
    font-size: 1.80vw;
    letter-spacing: 2px;
    font-weight: 400;
}

/* side with the REGISTRATION fields __________ side with the REGISTRATION fields */

.registration-side {
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1.5s ease-out 0s 1 slideInFromRight, 1.5s ease-in-out 0s 1 appear;
}


.registration-container h1 {
    font-size: 4vw;
    letter-spacing: 2px;
}

.error-field {
    height: 20px;
    margin-bottom: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-form label,
.login-form label,
.reset-form label {
    cursor: pointer;
    font-size: 20px;
}

.registration-form input,
.login-form input,
.reset-form input {
    font-size: 22px;
    padding: 5px 10px;
    background-color: rgb(121, 121, 121);
    border: 1px solid black;
    margin-bottom: 20px;
    transition: border 0.5s;
}

.registration-form input:focus,
.registration-form input:hover,
.login-form input:focus,
.login-form input:hover,
.reset-form input:focus,
.reset-form input:hover {
    outline: none;
    border: 1px solid white;
}

.registration-form button,
.login-form button,
.reset-form button {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 70%;
    padding: 5px 10px;
    align-self: center;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgb(121, 121, 121);
    transition: color 0.3s;
}

.registration-form button:hover,
.registration-form button:focus,
.login-form button:hover,
.login-form button:focus,
.reset-form button:hover,
.reset-form button:focus {
    outline: none;
    color: white;
}

.registration-form button:active,
.login-form button:active,
.reset-form button:active {
    opacity: 0.5;
}

.registration-container .link-container {
    height: 25px;
    position: relative;
}

.welcome-pages-container .link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: top 0.5s, color 0.3s;
}

.welcome-pages-container .link:hover {
    bottom: 3px;
}

.welcome-pages-container .link:focus {
    color: white;
    outline: none;
}

.welcome-pages-container .link:active {
    opacity: 0.5;
}

/* LOGIN /////////////////////// LOGIN /////////////////////// LOGIN ///////////////////// LOGIN */

.login-side,
.reset-password-side {
    width: 50%;
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 100%;
}

.login-container,
.reset-password-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1.5s ease-out 0s 1 slideInFromRight, 1.5s ease-in-out 0s 1 appear;
}

.login-container h1{
    font-size: 4vw;
    letter-spacing: 2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container .link-container {
    height: 40px;
    position: relative;
}

.welcome-pages-container .login-container .password-link {
    bottom: 30px;
    transition: top 0.5s, color 0.3s;
}

.welcome-pages-container .login-container .password-link:hover {
    bottom: 33px;
}

/* RESET PASSWPRD ///////////////// RESET PASSWORD /////////// RESET PASSWORD */
.reset-password-container {
    position: relative;
}

.reset-password-container h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.reset-password-container .link-container {
    height: 40px;
    position: relative;
    margin-top: 40px;
}

.reset-password-container .login-link {
    bottom: 30px;
    transition: top 0.5s, color 0.3s;
}

.reset-password-container .login-link:hover {
    bottom: 33px;
}

/* ANIMATIONS ///////////////////// ANIMATIONS //////////////// ANIMATIONS */
@keyframes slideInFromRight {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* APP //////////////////// APP //////////////////// APP ////////////// APP /////////// */

/* APP HEADER *************** APP HEADER ******************* APP HEADER ************** APP HEADER */
.app-header {
    border-bottom: 1px solid rgb(121, 121, 121);
    height: 65px;
}

.app-header .header-content {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header .logo-title-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 60px;
    margin-right: 15px;
}

.app-header h3 {
    padding: 0 3px;
    font-size: 25px;
    letter-spacing: 1px;
    align-self: flex-end;
}

.app-header .app-header-nav {
    display: flex;
    align-items: center;
}

.app-header .search-users-link {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.app-header .lens-img {
    width: 40px;
}

.app-header .profile-pic-outline {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s;
}

.app-header .profile-pic-outline:hover {
    border: 2px solid rgb(121, 121, 121);
}

.app-header .profile-pic-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANY PROFILE ********************* ANY PROFILE ************** ANY PROFILE ********* */
.app-profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 1%;
}

.large-profile-pic-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

/* ////////////// OTHER STUFF //////////////// */






.search-container .search-user-profile-pic-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.search-container .search-user-result {
    display: flex;
    align-items: center;
}