* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Rajdhani', Arial, sans-serif;
    font-weight: 500;
}

/* ////////////// WELCOME //////////// WELCOME /////////// WELCOME ////////////// */
.welcome-pages-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome,
.registration-side {
    padding: 2%;
    width: 50%;
    height: 100%;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .welcome-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#welcome-title {
    font-size: 4.5vw;
    letter-spacing: 2px;
}

.welcome-container img {
    width: 90%;
}

.network-title-container {
    text-align: center;
}

#bubc-title {
    font-size: 3.5vw;
    background-color: black;
    letter-spacing: 2px;
    color: white;
    padding: 0 10px;
    white-space: nowrap;
}

.welcome-container h2 {
    font-size: 1.80vw;
    letter-spacing: 2px;
    font-weight: 400;
}

/* side with the REGISTRATION fields __________ side with the REGISTRATION fields */

.registration-side {
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1.5s ease-out 0s 1 slideInFromRight, 1.5s ease-in-out 0s 1 appear;
}


.registration-container h1 {
    font-size: 4vw;
    letter-spacing: 2px;
}

.error-field {
    height: 20px;
    margin-bottom: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-form label,
.login-form label,
.reset-form label {
    cursor: pointer;
    font-size: 20px;
}

.registration-form input,
.login-form input,
.reset-form input {
    font-size: 22px;
    padding: 5px 10px;
    background-color: rgb(121, 121, 121);
    border: 1px solid black;
    margin-bottom: 20px;
    transition: border 0.5s;
}

.registration-form input:focus,
.registration-form input:hover,
.login-form input:focus,
.login-form input:hover,
.reset-form input:focus,
.reset-form input:hover {
    outline: none;
    border: 1px solid white;
}

.registration-form button,
.login-form button,
.reset-form button {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 70%;
    padding: 5px 10px;
    align-self: center;
    background-color: rgb(121, 121, 121);
    border: 1px solid rgb(121, 121, 121);
    transition: color 0.3s;
}

.registration-form button:hover,
.registration-form button:focus,
.login-form button:hover,
.login-form button:focus,
.reset-form button:hover,
.reset-form button:focus {
    outline: none;
    color: white;
}

.registration-form button:active,
.login-form button:active,
.reset-form button:active {
    opacity: 0.5;
}

.registration-container .link-container {
    height: 25px;
    position: relative;
}

.welcome-pages-container .link {
    font-size: 20px;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: top 0.5s, color 0.3s;
}

.welcome-pages-container .link:hover {
    bottom: 3px;
}

.welcome-pages-container .link:focus {
    color: white;
    outline: none;
}

.welcome-pages-container .link:active {
    opacity: 0.5;
}

/* LOGIN /////////////////////// LOGIN /////////////////////// LOGIN ///////////////////// LOGIN */

.login-side,
.reset-password-side {
    width: 50%;
    background-color: rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: 100%;
}

.login-container,
.reset-password-container {
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: 1.5s ease-out 0s 1 slideInFromRight, 1.5s ease-in-out 0s 1 appear;
}

.login-container h1{
    font-size: 4vw;
    letter-spacing: 2px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container .link-container {
    height: 40px;
    position: relative;
}

.welcome-pages-container .login-container .password-link {
    bottom: 30px;
    transition: top 0.5s, color 0.3s;
}

.welcome-pages-container .login-container .password-link:hover {
    bottom: 33px;
}

/* RESET PASSWPRD ///////////////// RESET PASSWORD /////////// RESET PASSWORD */
.reset-password-container {
    position: relative;
}

.reset-password-container h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.reset-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.reset-password-container .link-container {
    height: 40px;
    position: relative;
    margin-top: 40px;
}

.reset-password-container .login-link {
    bottom: 30px;
    transition: top 0.5s, color 0.3s;
}

.reset-password-container .login-link:hover {
    bottom: 33px;
}

/* ANIMATIONS ///////////////////// ANIMATIONS //////////////// ANIMATIONS */
@keyframes slideInFromRight {
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* APP //////////////////// APP //////////////////// APP ////////////// APP /////////// */

/* APP HEADER *************** APP HEADER ******************* APP HEADER ************** APP HEADER */
.app-header {
    border-bottom: 1px solid rgb(121, 121, 121);
    height: 65px;
}

.app-header .header-content {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header .logo-title-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 60px;
    margin-right: 15px;
}

.app-header h3 {
    padding: 0 3px;
    font-size: 25px;
    letter-spacing: 1px;
    align-self: flex-end;
    white-space: nowrap;
}

.app-header .app-header-nav {
    display: flex;
    align-items: center;
}


.app-header .friends-img-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 13px;
    background-color: rgb(243, 240, 240);
}

.app-header .friends-img-container .friends-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.app-header .search-users-link {
    display: flex;
    align-items: center;
    margin-right: 13px;
}

.app-header .lens-img {
    width: 27px;
}

.app-header .chat-link {
    margin-right: 13px;
    display: flex;
    align-items: center;
}

.app-header .chat-img {
    width: 35px;
}

.app-header .lens-img:hover,
.app-header .friends-img-container:hover,
.app-header .profile-pic:hover,
.app-header .search-users-link:focus,
.app-header .friends-link:focus,
.app-header .profile-pic-container:focus,
.app-header .chat-link:hover,
.app-header .chat-link:focus {
    outline: none;
    transition: opasity 0.3s;
    opacity: 0.7;
}

.app-header .lens-img:active,
.app-header .friends-img-container:active,
.app-header .profile-pic:active,
.app-header .chat-link:active {
    opacity: 0.5;
}

.app-header .profile-pic-container {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ANY PROFILE ********************* ANY PROFILE ************** ANY PROFILE ********* */
.app-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 1%;
}

.app-container .profile-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
}

.app-container .profile-pic-section {
    position: relative;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.large-profile-pic-container {
    position: absolute;
    top: 0;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    overflow: hidden;
}

.logged-in-user-profile-pic-container:hover,
.logged-in-user-profile-pic-container:focus {
    outline: none;
    cursor: pointer;
    opacity: 0.7;
}

.logged-in-user-profile-pic-container:active {
    opacity: 0.5;
}

.profile-container .profile-text-container {
    font-size: 17px;
    position: relative;
}

.profile-container .profile-text-container h1 {
    font-size: 28px;
    margin-bottom: 10px;
}


.profile-container .bio-container .add-bio-btn {
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
}

.bio-container .add-bio-btn:hover,
.bio-container .add-bio-btn:focus,
.bio-container .edit-bio-btn:hover,
.bio-container .edit-bio-btn:focus {
    transition: color 0.3;
    outline: none;
    color: blue;
}

.bio-container .add-bio-btn:active,
.bio-container .edit-bio-btn:active {
    opacity: 0.5;
}

/* bio edition ******************* bio editor **************** bio editor */

.profile-container .bio-container .bio-editor {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.profile-container .bio-container label {
    color: rgb(207, 204, 204);
    align-self: flex-end;
}

#bio-field {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 17px;
    border: 1px solid rgb(121, 121, 121);
    height: 80px;
    resize: none;
}

#bio-field:focus {
    outline: none;
    border: 2px solid rgb(121, 121, 121);
}

.profile-container .bio-container .bio-editor button {
    width: 150px;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
    align-self: center;
}

.profile-container .bio-container .bio-editor button:focus,
.profile-container .bio-container .bio-editor button:hover {
    outline: none;
    opacity: 0.7;
}

.profile-container .bio-container .bio-editor button:active {
    opacity: 0.5;
}

.profile-container .bio-container .bio {
    max-width: 400px;
    margin-bottom: 10px;
}

.bio-container .edit-bio-btn {
    text-decoration: underline;
    cursor: pointer;
}

/* friend button ******************+ friend button ****************** friend button */
.friend-btn {
    margin-top: 15px;
    border: 1px solid rgb(121, 121, 121);
    padding: 10px 0;
    width: 85%;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.friend-btn:hover,
.friend-btn:focus {
    transition: color 0.3s, border 0.3s;
    outline: none;
    color: blue;
    border: 1px solid blue;
}

.friend-btn:active {
    opacity: 0.5;
}

/* ********* UPLOADER *********** UPLOADER ******** UPLOADER ************ UPLOADER */
.uploader-component-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.uploader-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    animation: 1.2s ease-in-out 0s 1 appear;
}

.uploader-container {
    z-index: 2;
    font-size: 20px;
    padding: 0 2%;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1.2s ease-out 0s 1 slideInFromRight, 1.2s ease-in-out 0s 1 appear;
}

.uploader-container .close-uploader {
    position: absolute;
    left: 3%;
    top: 2%;
    cursor: pointer;
}

.uploader-container .close-uploader:hover,
.uploader-container .close-uploader:focus {
    transition: color 0.3s;
    color: blue;
}

.uploader-container .close-uploader:active {
    opacity: 0.5;
}

.uploader-container h1 {
    font-size: 45px;
    letter-spacing: 2px;
    align-self: flex-end;
    color: rgb(207, 204, 204);
    margin-bottom: 20px;
}

.uploader-container h3 {
    align-self: start;
    font-size: 20px;
}

.uploader-container .error-field {
    font-size: 16px;
    align-self: flex-start;
}

.uploader-container .img-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

#profile-pic-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploader-container .upload-btn {
    padding: 10px 0;
    border-bottom: 1px solid rgb(121, 121, 121);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.uploader-container .img-upload-container button {
    border: none;
    background-color: white;
    font-size: inherit;
    padding: 10px 0;
    border-bottom: 1px solid rgb(121, 121, 121);
    width: 100%;
    cursor: pointer;
}

.uploader-container .menu-link-container {
    border-bottom: 1px solid rgb(121, 121, 121);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.uploader-container .lens-img {
    width: 20px;
    margin-left: 10px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
}

.uploader-container .menu-link {
    position: relative;
    padding: 10px 0;
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.uploader-container .upload-btn:hover,
.uploader-container .upload-btn:hover:focus,
.uploader-container .img-upload-container button:hover,
.uploader-container .img-upload-container button:focus,
.uploader-container .menu-link-container:hover,
.uploader-container .menu-link-container:focus {
    transition: color 0.3s, border 0.3s;
    outline: none;
    color: blue;
    border-bottom: 1px solid blue;
}

.uploader-container .menu-link:hover,
.uploader-container .menu-link:focus {
    transition: color 0.3s;
    color: blue;
    outline: none;
}

.uploader-container .upload-btn:active,
.uploader-container .img-upload-container button:active,
.uploader-container .menu-link-container:active {
    opacity: 0.5;
}

/* FIND PEOPLE ***************** FIND PEOPLE ***************+ FIND PEOPLE ************* */
.search-container .search-people-form {
    display: flex;
}

.search-container label {
    font-size: 20px;
    align-self: center;
    margin-right: 5px;
    white-space: nowrap;
}

.search-container input {
    width: 500px;
    font-size: 20px;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid rgb(121, 121, 121);
    margin-bottom: 20px;
    transition: border 0.5s;
    align-self: flex-end;
    transition: border 0.3s;
}

.search-container input:hover {
    border: 1px solid blue;
}

.search-container input:focus {
    outline: none;
    border: 2px solid blue;
}

.search-user-results-container .search-user-result {
    padding: 10px 0;
    border-bottom: 1px solid rgb(207, 204, 204);
}

.search-container .search-user-profile-pic-container,
.friends-profile-pic-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.search-container .search-user-result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.search-container .search-user-result:hover,
.search-container .search-user-result:focus {
    outline: none;
    background-color: rgb(233, 229, 229);
}

.search-container .search-user-result:active {
    opacity: 0.7;
}

.search-container .search-user-link {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.search-container .friend-btn {
    width: 250px;
    white-space: nowrap;
}

/* FRIENDS COMPONENT **************** FRIENDS COMPONENT **************** FRIENDS COMPONENT */
.wannabes-friends-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wannabes-friends-container h1 {
    margin-bottom: 15px;
    white-space: nowrap;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(207, 204, 204);
    padding: 0 10px;
}

.wannabe-container,
.friend-container {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.wannabe-container .friends-profile-pic-container,
.friend-container .friends-profile-pic-container {
    margin-right: 10px;
}

.wannabes-friends-container .friend-link {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.wannabes-friends-container h2 {
    margin-bottom: 10px;
}

.wannabes-friends-container h2:hover,
.wannabes-friends-container .friend-link:focus {
    transition: color 0.3s;
    outline: none;
    color: blue;
}

.wannabes-friends-container .request-links-container p:hover {
    text-decoration: underline;
}

.wannabes-friends-container .friends-profile-pic-container:hover,
.wannabes-friends-container .friends-profile-pic-container:focus {
    transition: opacity 0.3s;
    outline: none;
    opacity: 0.7;
}

.wannabes-friends-container h2:active,
.wannabes-friends-container .friends-profile-pic-container:active {
    transition: opacity 0.3s;
    opacity: 0.5;
}

.wannabes-friends-container .wannabe-text-container,
.wannabes-friends-container .friend-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wannabes-friends-container .request-links-container p {
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* CHAT COMPONETN *************** CHAT COMPONENT **************** CHAT COMPONENT ************** CHAT COMPONENT*/
.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-container h1 {
    letter-spacing: 1px;
}

.chat-messages-container {
    width: 90%;
    height: 500px;
    border-top: 1px solid rgb(207, 204, 204);
    border-bottom: 1px solid rgb(207, 204, 204);
    overflow: scroll;
    font-size: 18px;
    margin-bottom: 30px;
}

.message-container {
    display: flex;
    align-items: flex-start;
    padding: 10px 10px;
}

.chat-profile-pic-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.chat-profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-profile-pic-container:hover,
.chat-profile-pic-container:focus {
    opacity: 0.7;
}

.user-message {
    display: flex;
    flex-direction: column;
}

.user-message .chat-user-link {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.user-message .chat-user-link:hover,
.user-message .chat-user-link:focus {
    transition: color 0.3;
    color: blue;
}

.user-message .chat-user-link:active,
.chat-profile-pic-container:active {
    opacity: 0.5;
}

.user-message p {
    font-weight: 400;
}

.user-message .date {
    color: rgb(190, 187, 187);
    font-size: 14px;
}

.chat-message-form {
    width: 90%;
    display: flex;
    align-items: flex-end;
}

.chat-message-form label {
    font-size: 20px;
    white-space: nowrap;
    margin-right: 5px;
}

#chat-message-textarea {
    width: 500px;
    font-size: 20px;
    padding: 5px 10px;
    height: 40px;
    border: 1px solid rgb(121, 121, 121);
    transition: border 0.3s;
    resize: none;
}

#chat-message-textarea:hover {
    border: 1px solid blue;
}

#chat-message-textarea:focus {
    outline: none;
    border: 2px solid blue;
}